body {
    margin: 0;
}

h1 { 
    color: #000000;
}

/* || Header and Nav*/

header {
    display: flex;
    flex-direction: row;
}

header .logo {
    color: #d71515;
}

header li a h3 {
    margin: 24px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 15px 0 15px;
}

ul {
    list-style: none;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* || Main body */

main {
    min-height: 100vh;
    background-color: #000000;
}

div#bubble {
    
}

main h1 {
    color: #ffffff;
    margin: 0;
}


/* || Footer */

footer {

}

